.black-footer{
	background:black;
	padding-top:20px;
	position: relative;
}

.logo{
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
	letter-spacing: -.8px;

	a:hover{
		outline:none !important;
    	color:red !important;
    	text-decoration: none !important;

	}
}

ul{
	list-style: none;

	li{
	padding-bottom:14px;
	}	

	.links{
	text-decoration: none;
	font-family: Montserrat;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	}
}

.copyright{
	font-family: "Playfair Display";
	font-size: 10px;
	line-height: 14px;
	color: #FFFFFF;
	margin-left: 20px;
    margin-right: 20px;
}

