@import "./app.var.style";
@import "./fonts.style";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display::400,400i|Raleway:400,700');

html, body, #appContainer, #root, section{
	background:#efefee;
	max-width: 100%;
    -webkit-overflow-scrolling: touch;
}


a:hover, a:focus, a:visited{
		outline:none;
    	color:white;
    	text-decoration: none;
    	z-index: 100000;
}

p{
	font-family: Raleway;
	font-size: 13px;
	line-height: 20px;
    letter-spacing: .5px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
}

.--white{
	filter: invert(1) brightness(2) grayscale(1);
}

.--purple{
	filter: invert(0) brightness(1) grayscale(0);
}

.arrow-down-icon{
	display: block;
	margin: auto; 
	position: absolute;
	left: 50%; 
	bottom: 41px;
}

.btn {
	background-color: #FF0084 !important;
	border-radius:100px !important;
	border:none !important;
	font-family: "Montserrat", sans-serif !important;
	font-weight: 800 !important;
	font-size: 11px !important;
	text-align: center !important;
	text-align: center !important;
	line-height: 16px !important;
	color: #FFFFFF !important;
	padding: 16px 30px;
	margin-top: 30px !important;
	text-transform: uppercase !important;
	letter-spacing: 1px !important;
	float:left !important;
	border: 2px solid #FF0084 !important;
	transition:2s all cubic-bezier(0.19, .8, 0.22, 1) !important;


		&:hover{
		outline: none !important;
		text-decoration: none !important;
		background-color: #BA0060 !important; 
		border: 2px solid white !important;
		box-shadow:rgba(0, 0, 0, .15) 7px 8px 0px, rgba(0, 0, 0, 0.15) 0px 6px 0px !important;
		transform: scale(1.01) translate(0px, -10px) !important;
		color:white !important;
		}
}

.btn.focus, .btn:focus, .btn:hover {
    color: none;
    text-decoration: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0px;
}

.containersCustom {
    padding-left: $CONTAINER_CUSTOM_PADDING_LEFT;
    padding-right: $CONTAINER_CUSTOM_PADDING_RIGHT;
}

.appBar button div svg {
	fill: black !important;
	margin-top: -8px;
}

.nav-logo img{
	margin-top: -8px;
}

.drawer{
	color: white !important;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
}

.menuIcon:hover{
	cursor: pointer;
}

.invisible {
  opacity: 0;
}

.view-enter {
   animation: slideInRight 1s both cubic-bezier(0.19, 1, 0.22, 1);
 }


.animatedViews {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  position: relative;
  display: block;
}

.navbar{
	background:#FAFAFA;
	border-bottom:1px solid #6D65CB;
	background-color: #F9F9F9;
	height:60px;
}

.navbar-header a{
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	color: #000000;
	text-decoration: none !important;
	letter-spacing: -.8px;
	transition: .5s all;

	&:hover, :active{
		color:#6e66cb !important;
	}

}

.hero{
	padding-bottom: 86px;
    background: white;
    height: 714px;

    @media only screen and (min-width: 1401px){
	  
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	   
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-bottom: 86px;
	    background: white;
	    padding-top: 30px;
	    height: auto;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-bottom: 86px;
	    background: white;
	    padding-top: 30px;
	    height: auto;
		}
}

.product-design-hero{
	background:#FFE2BA;
	color:white;
}

.sprint-academy.hero{
	background: #6D65CB;
    margin-top: -30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 1401px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

    h1, h2 {
    color:white;
    }

    .btn {
	float:left !important;
	}

}

.sprint-academy.what-is{
	padding-top:40px;
	background:white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 20px;
    letter-spacing: .5px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	ul{
		padding:0;

		@media only screen and (min-width: 1401px){
	    position: relative;
    	top: -140px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    position: relative;
    	top: -140px;
	    
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		
		}

	}

	li{

		padding-bottom: 0px;

		img{
			float: left;
		}

		p{
		font-family: Montserrat;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		text-transform: uppercase;
		padding-left: 60px;
		padding-top: 6px;
		}
	}

	.panel-group .panel {
    	margin-bottom: 0;
    	border-radius: 0px;
    	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.panel-heading{
		padding:0;
	}

	.panel {
	    margin-bottom: 20px;
	    background-color: white;
	    border: none;
	    border-radius: 0px;
	    box-shadow: 0 0px 0px rgba(0,0,0,0);

		.panel-title a:before {
  			content: "\45";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		vertical-align: -15%;
		}

		.panel-title a:after {
  			content: "\42";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		float:right;
		}

	    .panel-title, a, h4{
	    	margin-left: 10px;
	    	margin-right: 10px;
	    	vertical-align: -15%;
	    	font-family: Montserrat;
	    	top: -4px;
    		position: relative;
			font-size: 13px;
			line-height: 16px;
			color: black;
			text-transform: uppercase;
			text-align:left;
			font-weight: normal;
			letter-spacing: 0px;
			line-height: 30px;
			margin-top: 0px;
			margin-bottom: 0px;

	    	&:hover, :focus, :visited{
	    		color:black !important;	
	    	}
	    }

	    
	}

	.panel-default>.panel-heading {
    	color: black;
    	background-color: white;
    	border-color: none;
	}

	.panel-body {
    padding: 20px;
    background: linear-gradient(135deg, #6D65CB 0%, #293890 100%);
	transition:.35s all;
	color:white;

		li{
			font-family: Montserrat;
			font-size: 12px;
			line-height: 16px;
			color: rgba(255,255,255,0.7);
			text-transform: uppercase;
			padding-bottom: 26px;
			padding-top: 26px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}	
	}
}

.design-thinking{

	position: relative;
    display: block;
    vertical-align: top;
    box-sizing: border-box;
	z-index: 10;
	height: 617px;

	.wrapper{
		background:#FAFAFA;
		height: 100%;
	}

	@media only screen and (min-width: 1401px){
	    padding-bottom: 40px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    padding-bottom: 60px;
	    
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		height: 537px;
		}

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	float:right !important;
	}

	#Group-16{
		animation: 200s rotateCounterClockwise infinite;
		transform-origin: center;

		@keyframes rotateCounterClockwise {
		0% {transform:rotate(0deg);}
		50% {transform:rotate(-360deg);}
		}
	}

	#Group-17{
		
		circle{
		stroke-dasharray: 4;
		animation: 100s rotateClockwise infinite;
		transform-origin: center;

		@keyframes rotateClockwise {
		0% {transform:rotate(0deg);}
		50% {transform:rotate(360deg);}
		}
		}

		#chevron-left{
		transform-origin: center;
		z-index: 1;
		
		}

		#chevron-right{
		transform-origin: center;
		z-index: 1;
		}

	}

	svg{
		transform-origin: center;

		@media only screen and (min-width: 1401px){
	   	position: relative;
	    left: 268px;
	    transform: scale(1.5);
	    transform-origin: center;
	    padding: 20px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 1025px){
	   	position: relative;
	    left: 118px;
	    transform: scale(1.2);
	    transform-origin: center;
	    padding: 20px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
	   	position: relative;
	    top: 0px;
	    left: 88px;
	    transform: scale(1);
	    transform-origin: center;
	    padding: 20px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
	   	position: relative;
	    top: 0px;
	    left: 0px;
	    transform: scale(1.2);
	    transform-origin: center;
	    padding: 20px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
	    position: relative;
	    top: 160px;
	    left: -60px;
	    transform: scale(1.2);
	    transform-origin: center;
	    padding: 20px;
		}
	}
}

.design-sprint{

	position: relative;
    display: block;
    vertical-align: top;
    box-sizing: border-box;
	z-index: 10;
	height: 617px;

	.wrapper{
	    background: url("/public/assets/images/sprinter.jpg");
	    background-size: cover;
	    background-position: 0 -80px;
	    height: 100%;
    	background-repeat: no-repeat;

    	@media only screen and (max-width: 1024px) and (min-width: 769px){
	   	 	background-position: -130px 0;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
			background-position: 0 0;
		}

		@media only screen and (max-width: 575px) and (min-device-width: 350px){
			 background-position: -478px 0;
		}


	}

    img{
   	mix-blend-mode: hard-light;
   	animation-name: fadeInImg;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    position: relative;
    top:0;
    left:0;
    }

    @keyframes fadeInImg {
    0%   {opacity: 0;}
    100% {opacity: 1;}
	}

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: #FFF;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	float:left !important;
	}

	@media only screen and (max-width: 768px) and (min-width: 576px){
		height:547px;
	}

	@media only screen and (max-width: 575px) and (min-device-width: 350px){
		height:547px;
	}
}

.design-development{
	position: relative;
    display: block;
    vertical-align: top;
    box-sizing: border-box;
	z-index: 10;
	height: 657px;
	overflow:hidden; 

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	float:right !important;
	}


	img{
    width: 573px;
    transform-origin: bottom;
    position: absolute;
    left:0;
    top:-100px;

		@media only screen and (max-width: 768px) and (min-width: 576px){

			left: -20px;
    		top: 250px;
    		width: 452px;
		}

		@media only screen and (max-width: 575px) and (min-device-width: 350px){
			left: -20px;
			top: 250px;
    		width: 452px;
		}
	}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		
		}

		@media only screen and (max-width: 575px) and (min-device-width: 350px){
		    height: 547px;
		}
}

.innovation-services{
	padding-top:40px;
    background:url("/public/assets/images/productDesignBG.svg");
    background-size: 641px;
    height: 641px;
    overflow: hidden;
    position: relative;
    display: block;
    vertical-align: top;
    box-sizing: border-box;
	z-index: 10;
	height: 617px;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: #FFF;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	float:left !important;
	}

	img{
    transform: scale(5);
    right: -200px;
    position: relative;
    bottom: -100px;
    mix-blend-mode: multiply;
    transform-origin: top;
        z-index: -1;
	}
}

.our-work{
	padding-top:40px;
    background:url("/public/assets/images/productDesignBG.svg");
    background-size: 641px;
    height: 641px;
    overflow: hidden;
    position: relative;
    display: block;
    vertical-align: top;
    box-sizing: border-box;
	z-index: 10;
	height: 617px;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: #FFF;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	float:left !important;
	}

	img{
    transform: scale(5);
    right: -200px;
    position: relative;
    bottom: -100px;
    mix-blend-mode: multiply;
    transform-origin: top;
        z-index: -1;
	}
}

.ignite-talk{
	padding-top:60px;
	z-index: 3;
    position: relative;
    height: 567px;
    overflow: hidden;
    background: #fafafa;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: black;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: black;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	float:left !important;
	}
}

.product-des{
	padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    background: #fafafa;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: black;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: black;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	float:left !important;
	}
}

.product-dev{
	padding-bottom: 60px;
	padding-top:60px;
    background: white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	float:right !important;
	}
	@media only screen and (max-width: 575px) and (min-device-width: 350px){
		  padding-top: 0px;
	}


}

.workshop{
	padding-top: 60px;
    background: white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	float:right !important;
	}

}

.user-testing{
	padding-top: 60px;
    padding-bottom: 60px;
    background: white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	float:right !important;
	}

}

.syllabus{
	padding-top:0 !important;
}

.bootcamp{
	padding-top: 60px;
    padding-bottom: 60px;
    z-index: 3;
    position: relative;
    height: 100%;
    background: #fafafa;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: black;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: black;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	float:left !important;
	}
}

.product-design.hero{
	background: #FFE2BA;
    margin-top: -30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 1401px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

    h1, h2 {
    color:black;
    }

    .btn {
	float:left !important;
	}
}

.product-design.what-is{
	padding-top:40px;
	background:white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
		line-height: 20px;
    letter-spacing: .5px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	ul{padding:0;}

	li{

		padding-bottom:20px;

		img{
			float: left;
		}

		p{
		font-family: Montserrat;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		text-transform: uppercase;
		padding-left: 60px;
		padding-top: 6px;
		}
	}

	.panel-group .panel {
    	margin-bottom: 0;
    	border-radius: 0px;
    	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.panel-heading{
		padding:0;
	}

	.panel {
	    margin-bottom: 20px;
	    background-color: white;
	    border: none;
	    border-radius: 0px;
	    box-shadow: 0 0px 0px rgba(0,0,0,0);

		.panel-title a:before {
  			content: "\45";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		vertical-align: -15%;
		}

		.panel-title a:after {
  			content: "\42";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		float:right;
		}

	    .panel-title, a, h4{
	    	margin-left: 10px;
	    	margin-right: 10px;
	    	vertical-align: -15%;
	    	font-family: Montserrat;
	    	top: -4px;
    		position: relative;
			font-size: 13px;
			line-height: 16px;
			color: black;
			text-transform: uppercase;
			text-align:left;
			font-weight: normal;
			letter-spacing: 0px;
			line-height: 30px;
			margin-top: 0px;
			margin-bottom: 0px;

	    	&:hover, :focus, :visited{
	    		color:black !important;	
	    	}
	    }

	    
	}
}

.innovation.hero{
	background: #BC0566;
    margin-top: -30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 1401px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

    h1, h2 {
    color:white;
    }

    .btn {
	float:left !important;
	}
}

.innovation.what-is{
	padding-top:40px;
	background:white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 20px;
    letter-spacing: .5px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	ul{padding:0;}

	li{

		padding-bottom:20px;

		img{
			float: left;
		}

		p{
		font-family: Montserrat;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		text-transform: uppercase;
		padding-left: 60px;
		padding-top: 6px;
		}
	}

	.panel-group .panel {
    	margin-bottom: 0;
    	border-radius: 0px;
    	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.panel-heading{
		padding:0;
	}

	.panel {
	    margin-bottom: 20px;
	    background-color: white;
	    border: none;
	    border-radius: 0px;
	    box-shadow: 0 0px 0px rgba(0,0,0,0);

		.panel-title a:before {
  			content: "\45";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		vertical-align: -15%;
		}

		.panel-title a:after {
  			content: "\42";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		float:right;
		}

	    .panel-title, a, h4{
	    	margin-left: 10px;
	    	margin-right: 10px;
	    	vertical-align: -15%;
	    	font-family: Montserrat;
	    	top: -4px;
    		position: relative;
			font-size: 13px;
			line-height: 16px;
			color: black;
			text-transform: uppercase;
			text-align:left;
			font-weight: normal;
			letter-spacing: 0px;
			line-height: 30px;
			margin-top: 0px;
			margin-bottom: 0px;

	    	&:hover, :focus, :visited{
	    		color:black !important;	
	    	}
	    }

	    
	}
}

.work.hero{

	background: #BC0566;
    margin-top: -30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 1401px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

    h1, h2 {
    color:white;
    }

    .btn {
	float:left !important;
	}
}

.time.hero{

	background-size: cover;
    margin-top: -30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 1401px){
    	background-image:url("/public/assets/images/timeinc-case-study-hero@2x.jpg");
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
    	background-image:url("/public/assets/images/timeinc-case-study-hero@2x.jpg");
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
    	background-image:url("/public/assets/images/timeinc-case-study-hero-no-devices@2x.jpg");
		padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
    	background-image:url("/public/assets/images/timeinc-case-study-hero-no-devices@2x.jpg");
		padding-top: 80px;
    	padding-bottom: 80px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-top: 80px;
    	padding-bottom: 80px;
    	background-image:url("/public/assets/images/timeinc-case-study-hero-no-devices@2x.jpg");
		}

    h1, h2 {
    color:white;
    }

    .btn {
	float:left !important;
	}

	img{
	animation-name: fadeInImg;
    animation-duration: 1s;
    animation-timing-function: ease-in;
	}

	@keyframes fadeInImg {
    0%   {opacity: 0;}
    100% {opacity: 1;}
	}
}



.small-nav > div{
    background-color: rgb(109, 101, 203) !important;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.exposed-nav{
	transition:1s all;
	transform:translate3d(0,0,0);
}

.unexposed-nav{
	transition:1s all;
	transform:translate3d(0,-120px,0);
}

.link{
	color: rgb(109, 101, 203) !important;
	font-weight: 800;

	a:active, a:hover, a:focus, a:visited{
		color: rgb(109, 101, 203) !important;
		cursor:pointer;
	}
}

.contact-us{
	padding-bottom: 88px;

	@media only screen and (min-width: 1401px){
	    padding-bottom: 278px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
		padding-bottom: 278px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-bottom: 249px;

		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-bottom: 549px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-bottom: 88px;
		}
		
	    
}

.about{
	padding-bottom: 88px;

	@media only screen and (min-width: 1401px){
	    padding-bottom: 278px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
		padding-bottom: 278px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-bottom: 249px;

		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-bottom: 549px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){	
		padding-bottom: 88px;
		}
	}


.gutter-l{
	left: -20px;
    background-color: #efefee;

    @media only screen and (min-width: 1400px){
    
    position: absolute;
    top: 0px;
    display: block;
    width: calc( (100% - 1325px)/2 );
    height: 100%;
	}

	@media only screen and (max-width: 1400px) and (min-width: 769px){
    position: absolute;
    top: 0px;
    display: block;
    width: 25px;
    height: 100%;
	}

	@media only screen and (max-width: 768px) and (min-width: 576px){
    display: none;
	}

    @media only screen and (max-width: 575px) and (min-device-width: 350px){
    display: none;
	}
}

.gutter-r{
	right: -20px;
    background-color: #efefee;
  
    @media only screen and (min-width: 1400px){
    position: absolute;
    top: 0px;
    display: block;
    width: calc( (100% - 1325px)/2 );
    height: 100%;
	}

	@media only screen and (max-width: 1400px) and (min-width: 769px){
    position: absolute;
    top: 0px;
    display: block;
    width: 25px;
   	height: 100%;
	}

	@media only screen and (max-width: 768px) and (min-width: 576px){
    display: none;
	}

    @media only screen and (max-width: 575px) and (min-device-width: 350px){
    display: none;
	}
}

.navLinks div span{
	font-size: 10px !important;
    font-family: "Montserrat", sans-serif !important;
    text-transform: uppercase !important;
    text-align: center !important;
    font-weight: 400 !important;
    color:black !important;
}

.secondary-title{
	padding-top:20px;
	padding-bottom:20px;

	.small-line{
		width:56px;
		height:2px;
		border-top:2px;
		background:#6D65CB;
	}

	h5{
		font-family: "Playfair Display", serif;
	    font-size: 20px;
	    font-weight: 400;
	    line-height: 30px;
	}
}

.project{
	width: 100%;
	height:auto;
	padding-bottom:100px;
	
	img{
		width:100%;
		box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
		transition:2s all cubic-bezier(0.19, .8, 0.22, 1);

		&:hover{
		opacity:.5;
		transform: scale(1.01) translate(0px, -10px);
		}
	}

	.project-title{
	padding-top:10px;
	font-family: Raleway;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
	text-align: center;
	}

	.project-description{
	color:#9B9B9B;
	font-family: Raleway;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	}
}

.back-btn{
	position: relative;
	margin:0 auto;

	img{
		padding-right:10px;
		filter:invert(1);
	}
}

.top-btn{
	transition: 1s all;

	&:focus{
		outline:none;
	}
}

.time{
	padding-top:60px;

	h6{
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 6em;
	color: #E1E2E4;

		@media only screen and (max-width: 768px) and (min-width: 576px){
	    font-size: 6em;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
	    font-size: 4em;
		}
	}


}

.divider{
	border-bottom: 1px solid #E1E2E4;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 52%;
}

/* .react-simple-parallax-bg is generate by the component */
    section .react-simple-parallax-bg {
        background-image: url('http://tinyurl.com/zaz7bp4');
        height: 750px;
    }
    
    section .parallax {
        top: 200px;
        margin: auto;
    }
