@import "./app.var.style";
@import "./fonts.style";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display::400,400i|Raleway:400,700');

html, body, #appContainer, #root{
	height: 100%;
	background:#efefee;
	max-width: 100%;
    -webkit-overflow-scrolling: touch;
}


a:hover, a:focus, a:visited{
		outline:none;
    	color:white;
    	text-decoration: none;
    	z-index: 100000;
}

.btn.focus, .btn:focus, .btn:hover {
    color: none;
    text-decoration: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0px;
}

.containersCustom {
    padding-left: $CONTAINER_CUSTOM_PADDING_LEFT;
    padding-right: $CONTAINER_CUSTOM_PADDING_RIGHT;
}

.appBar button div svg {
	fill: black !important;
	margin-top: -8px;
}

.nav-logo img{
	margin-top: -8px;
}

.drawer{
	color: white !important;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
}

.menuIcon:hover{
	cursor: pointer;
}

.invisible {
  opacity: 0;
}

.view-enter {
   animation: slideInRight 1s both cubic-bezier(0.19, 1, 0.22, 1);
   z-index: 9999;
 }


.animatedViews {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.navbar{
	background:#FAFAFA;
	border-bottom:1px solid #6D65CB;
	background-color: #F9F9F9;
	height:60px;
}

.navbar-header a{
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	color: #000000;
	text-decoration: none !important;
	letter-spacing: -.8px;
	transition: .5s all;

	&:hover, :active{
		color:#6e66cb !important;
	}

}

.btn{
	transition:.5s all;
}

.btn:hover{
	outline: none;
	text-decoration: none;
	background-color: #BA0060 !important; 
	border: 1px solid white !important;
	box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
}

.hero{
	padding-bottom: 86px;
    background: white;
    padding-top: 30px;
}

.product-design-hero{
	background:#FFE2BA;
	color:white;
}

.sprint-academy.hero{
	background: #6D65CB;
    margin-top: -30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 1401px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

    h1, h2 {
    color:white;
    }

    .btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	margin-top: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:left !important;
	border: 1px solid #FF0084;
	}
}

.sprint-academy.what-is{
	padding-top:40px;
	background:white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	ul{
		padding:0;

		@media only screen and (min-width: 1401px){
	    position: relative;
    	top: -140px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    position: relative;
    	top: -140px;
	    
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		
		}

	}

	li{

		padding-bottom:20px;

		img{
			float: left;
		}

		p{
		font-family: Montserrat;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		text-transform: uppercase;
		padding-left: 60px;
		padding-top: 6px;
		}
	}

	.panel-group .panel {
    	margin-bottom: 0;
    	border-radius: 0px;
    	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.panel-heading{
		padding:0;
	}

	.panel {
	    margin-bottom: 20px;
	    background-color: white;
	    border: none;
	    border-radius: 0px;
	    box-shadow: 0 0px 0px rgba(0,0,0,0);

		.panel-title a:before {
  			content: "\45";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		vertical-align: -15%;
		}

		.panel-title a:after {
  			content: "\42";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		float:right;
		}

	    .panel-title, a, h4{
	    	margin-left: 10px;
	    	margin-right: 10px;
	    	vertical-align: -15%;
	    	font-family: Montserrat;
	    	top: -4px;
    		position: relative;
			font-size: 13px;
			line-height: 16px;
			color: black;
			text-transform: uppercase;
			text-align:left;
			font-weight: normal;
			letter-spacing: 0px;
			line-height: 30px;
			margin-top: 0px;
			margin-bottom: 0px;

	    	&:hover, :focus, :visited{
	    		color:black !important;	
	    	}
	    }

	    
	}

	.panel-default>.panel-heading {
    	color: black;
    	background-color: white;
    	border-color: none;
	}

	.panel-body {
    padding: 20px;
    background: linear-gradient(135deg, #6D65CB 0%, #293890 100%);
	transition:.35s all;
	color:white;

		li{
			font-family: Montserrat;
			font-size: 12px;
			line-height: 16px;
			color: rgba(255,255,255,0.7);
			text-transform: uppercase;
			padding-bottom: 26px;
			padding-top: 26px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}	
	}
}

.design-thinking{
	padding-top:40px;
	padding-bottom: 200px;
	background:#FAFAFA;

	@media only screen and (min-width: 1401px){
	    padding-bottom: 200px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    padding-bottom: 60px;
	    
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		
		}

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:right !important;
	border: 1px solid #FF0084;
	}

	#Group-16{
		animation: 200s rotateCounterClockwise infinite;
		transform-origin: center;

		@keyframes rotateCounterClockwise {
		0% {transform:rotate(0deg);}
		50% {transform:rotate(-360deg);}
		}
	}

	#Group-17{
		
		circle{
		stroke-dasharray: 4;
		animation: 100s rotateClockwise infinite;
		transform-origin: center;

		@keyframes rotateClockwise {
		0% {transform:rotate(0deg);}
		50% {transform:rotate(360deg);}
		}
		}

		#chevron-left{
		transform-origin: center;
		z-index: 1;
		
		}

		#chevron-right{
		transform-origin: center;
		z-index: 1;
		}

	}

	svg{
		transform-origin: center;

		@media only screen and (min-width: 1401px){
	   	position: relative;
	    top: 80px;
	    left: 268px;
	    transform: scale(1.5);
	    transform-origin: center;
	    padding: 20px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 1025px){
	   	position: relative;
	    top: 10px;
	    left: 118px;
	    transform: scale(1.2);
	    transform-origin: center;
	    padding: 20px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
	   	position: relative;
	    top: 0px;
	    left: 88px;
	    transform: scale(1);
	    transform-origin: center;
	    padding: 20px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
	   	position: relative;
	    top: 160px;
	    left: 0px;
	    transform: scale(1.2);
	    transform-origin: center;
	    padding: 20px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
	    position: relative;
	    top: 220px;
	    left: -60px;
	    transform: scale(1.2);
	    transform-origin: center;
	    padding: 20px;
		}
	}
}

.design-sprint{
   	padding-top: 40px;
    background: #6e66cb;
    height: 477px;
    margin-bottom: 150px;

    @media only screen and (min-width: 1401px){
	margin-bottom: 0;
	}

	@media only screen and (max-width: 1400px) and (min-width: 1025px){
	margin-bottom: 0;
	}

	@media only screen and (max-width: 1024px) and (min-width: 769px){
	margin-bottom: 0;
	}

    img{
   	mix-blend-mode: hard-light;
    padding-top: 40px;
    position: relative;

    	@media only screen and (min-width: 1401px){
		transform: translate3d(50px, -58px, 0);
		}

		@media only screen and (max-width: 1400px) and (min-width: 1201px){
	   	transform: translate3d(50px, -48px, 0);
		}

		@media only screen and (max-width: 1200px) and (min-width: 1025px){
	   	transform: translate3d(0px, -48px, 0);
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
	    transform: translate3d(0px, 32px, 0);
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){

		}

		@media only screen and (max-width: 575px) and (min-device-width: 350px){
			
		}

   
    }

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #FFF;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:left !important;
	border: 1px solid #FF0084;
	}
}

.design-development{
	padding-top:124px;
	height: 667px;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:right !important;
	border: 1px solid #FF0084;
	}

	.triangle{
	width: 490px;
    height: 641px;
    background: #E1E2E4;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0%);
    clip-path: polygon(0 0, 0% 100%, 100%);
	}

	.square-one{
	width: 445px;
    height: 641px;
    background: #FFE2BA;
	}

	.square-two{
	width: 445px;
    height: 641px;
    background: #293890;
	}

	img{
    width: 373px;
    transform-origin: bottom;
	}

		@media only screen and (min-width: 1401px){

			.triangle{
		    transform: translate3d(-40px, -48px, 0);
			position: absolute;
			width: 373px;
			}

			.square-one{
		    transform: translate3d(6px, -58px, 0);
		    position: absolute;
		   	width: 513px;
		    z-index: -1;
		    height: 400px;
			}

			.square-two{
			transform: translate3d(-20px, -48px, 0px);
		    position: absolute;
		    width: 630px;
		    z-index: -1;
			}

			img{
			transform: translate3d(410px, 232px, 0);
			position: absolute;
			width: 583px;
			transform-origin: bottom;
			}
		}

		@media only screen and (max-width: 1400px) and (min-width: 1025px){

			.triangle{
		    transform: translate3d(-40px, -48px, 0);
			position: absolute;
			width: 373px;
			}

			.square-one{
		    transform: translate3d(6px, -58px, 0);
		    position: absolute;
		    width: 373px;
		    z-index: -1;
		    height: 400px;
			}

			.square-two{
			transform: translate3d(-20px, -48px, 0px);
		    position: absolute;
		    width: 373px;
		    z-index: -1;
			}

			img{
			transform: translate3d(300px, 197px, 0);
			position: absolute;
			width: 373px;
			transform-origin: bottom;
			}
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){

			.triangle{
		    transform: translate3d(-40px, -48px, 0);
			position: absolute;
			width: 373px;
			}

			.square-one{
		    transform: translate3d(6px, -58px, 0);
		    position: absolute;
		    width: 373px;
		    z-index: -1;
		    height: 400px;
			}

			.square-two{
			transform: translate3d(-40px, -48px, 0px);
		    position: absolute;
		    width: 373px;
		    z-index: -1;
			}

			img{
			transform: translate3d(200px, 212px, 0);
			position:absolute;
			width: 373px;
			transform-origin: bottom;
			}
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){

			.triangle{
		    transform: translate3d(-40px, -48px, 0);
			position: absolute;
			width: 373px;
			}

			.square-one{
		    transform: translate3d(6px, -58px, 0);
		    position: absolute;
		    width: 373px;
		    z-index: -1;
		    height: 400px;
			}

			.square-two{
			transform: translate3d(-20px, -48px, 0px);
		    position: absolute;
		    width: 373px;
		    z-index: -1;
			}

			img{
			transform: translate3d(250px, 164px, 0);
			position: absolute;
			width: 373px;
			transform-origin: bottom;
			}
		}

		@media only screen and (max-width: 575px) and (min-device-width: 350px){
			.triangle{
		    transform: translate3d(-20px, -48px, 0);
			position: absolute;
			width: 373px;
			}

			.square-one{
		    transform: translate3d(6px, -58px, 0);
		    position: absolute;
		    width: 373px;
		    z-index: -1;
		    height: 400px;
			}

			.square-two{
			transform: translate3d(6px, -48px, 0px);
		    position: absolute;
		    width: 373px;
		    z-index: -1;
			}

			img{
			transform: translate3d(-50px, 223px, 0);
			position: absolute;
			width: 373px;
			transform-origin: bottom;
			}
		}
}

.innovation-services{
	padding-top:40px;
	z-index: 3;
    position: relative;
    background:url("../images/productDesignBG.svg");
    background-size: 641px;
    height: 641px;
    overflow: hidden;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #FFF;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:left !important;
	border: 1px solid #FF0084;
	}

	img{
    transform: scale(5);
    right: -200px;
    position: relative;
    bottom: -100px;
    mix-blend-mode: multiply;
    transform-origin: top;
        z-index: -1;
	}
}

.ignite-talk{
	padding-top:40px;
	z-index: 3;
    position: relative;
    height: 381px;
    overflow: hidden;
    background: #fafafa;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: black;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: black;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:left !important;
	border: 1px solid #FF0084;
	}
}

.big-arrow{
	height:0;

	img{
	position: absolute;
    z-index: 3;

		@media only screen and (min-width: 1401px){
		width: 28%;
    	top: -102px;
    	left: 430px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 1025px){
	    width: 26%;
    	top: -10px;
    	left: 400px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
	   	width: 35%;
    	top: -40px;
    	left: 154px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		width: 50%;
    	top: -80px;
    	left: 90px;	
		}

		@media only screen and (max-width: 575px) and (min-device-width: 350px){
		width: 50%;
    	top: -30px;
    	left: 90px;
		}

	}
}

.big-arrow-reverse{
	height:0;

	img{
	position: absolute;
    z-index: 4;

		@media only screen and (min-width: 1401px){
		width: 28%;
    	top: -102px;
    	left: 430px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 1025px){
	    width: 26%;
    	top: 0px;
    	left: 400px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
	   	width: 30%;
    	top: 0px;
    	left: 354px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		width: 30%;
    	top: 0px;
    	left:200px;	
		}

		@media only screen and (max-width: 575px) and (min-device-width: 350px){
		width: 40%;
    	top: 0px;
    	left: 90px;
		}

	}
}

.product-des{
	padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    background: #fafafa;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: black;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: black;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:left !important;
	border: 1px solid #FF0084;
	}
}

.product-dev{
	padding-top: 60px;
	padding-bottom: 60px;
    background: white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:right !important;
	border: 1px solid #FF0084;
	}

}

.workshop{
	padding-top: 60px;
    background: white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:right !important;
	border: 1px solid #FF0084;
	}

}

.user-testing{
	padding-top: 60px;
    padding-bottom: 60px;
    background: white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:right !important;
	border: 1px solid #FF0084;
	}

}

.syllabus{
	padding-top:0 !important;
}

.bootcamp{
	padding-top: 60px;
    padding-bottom: 180px;
    z-index: 3;
    position: relative;
    height: 100%;
    background: #fafafa;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: left;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: black;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: black;
	margin-top:20px;
	margin-bottom:30px;
	text-align: left;
	}

	.btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:left !important;
	border: 1px solid #FF0084;
	}
}

.product-design.hero{
	background: #FFE2BA;
    margin-top: -30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 1401px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

    h1, h2 {
    color:black;
    }

    .btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	margin-top: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:left !important;
	border: 1px solid #FF0084;
	}
}

.product-design.what-is{
	padding-top:40px;
	background:white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	ul{padding:0;}

	li{

		padding-bottom:20px;

		img{
			float: left;
		}

		p{
		font-family: Montserrat;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		text-transform: uppercase;
		padding-left: 60px;
		padding-top: 6px;
		}
	}

	.panel-group .panel {
    	margin-bottom: 0;
    	border-radius: 0px;
    	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.panel-heading{
		padding:0;
	}

	.panel {
	    margin-bottom: 20px;
	    background-color: white;
	    border: none;
	    border-radius: 0px;
	    box-shadow: 0 0px 0px rgba(0,0,0,0);

		.panel-title a:before {
  			content: "\45";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		vertical-align: -15%;
		}

		.panel-title a:after {
  			content: "\42";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		float:right;
		}

	    .panel-title, a, h4{
	    	margin-left: 10px;
	    	margin-right: 10px;
	    	vertical-align: -15%;
	    	font-family: Montserrat;
	    	top: -4px;
    		position: relative;
			font-size: 13px;
			line-height: 16px;
			color: black;
			text-transform: uppercase;
			text-align:left;
			font-weight: normal;
			letter-spacing: 0px;
			line-height: 30px;
			margin-top: 0px;
			margin-bottom: 0px;

	    	&:hover, :focus, :visited{
	    		color:black !important;	
	    	}
	    }

	    
	}
}

.innovation.hero{
	background: #BC0566;
    margin-top: -30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 1401px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
	    padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-top: 80px;
    	padding-bottom: 80px;
		}

    h1, h2 {
    color:white;
    }

    .btn {
	background-color: #FF0084;
	border-radius:100px;
	border:none;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 11px;
	text-align: center;
	text-align: center;
	line-height: 16px;
	color: #FFFFFF;
	padding: 16px 30px;
	margin-top: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	float:left !important;
	border: 1px solid #FF0084;
	}
}

.innovation.what-is{
	padding-top:40px;
	background:white;

	h3 {
	font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
	}

	h4{
	font-family: 'Montsterrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -.8px;
	line-height: 30px;
	margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
	}

	.subhead {
	font-family: Raleway;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	margin-top:20px;
	margin-bottom:30px;
	text-align: right;
	}

	ul{padding:0;}

	li{

		padding-bottom:20px;

		img{
			float: left;
		}

		p{
		font-family: Montserrat;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		text-transform: uppercase;
		padding-left: 60px;
		padding-top: 6px;
		}
	}

	.panel-group .panel {
    	margin-bottom: 0;
    	border-radius: 0px;
    	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.panel-heading{
		padding:0;
	}

	.panel {
	    margin-bottom: 20px;
	    background-color: white;
	    border: none;
	    border-radius: 0px;
	    box-shadow: 0 0px 0px rgba(0,0,0,0);

		.panel-title a:before {
  			content: "\45";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		vertical-align: -15%;
		}

		.panel-title a:after {
  			content: "\42";
    		font-family: 'Academy';
    		speak: none;
    		padding-right: 10px;
    		font-size: 20px;
    		color:#6D65CB;
    		float:right;
		}

	    .panel-title, a, h4{
	    	margin-left: 10px;
	    	margin-right: 10px;
	    	vertical-align: -15%;
	    	font-family: Montserrat;
	    	top: -4px;
    		position: relative;
			font-size: 13px;
			line-height: 16px;
			color: black;
			text-transform: uppercase;
			text-align:left;
			font-weight: normal;
			letter-spacing: 0px;
			line-height: 30px;
			margin-top: 0px;
			margin-bottom: 0px;

	    	&:hover, :focus, :visited{
	    		color:black !important;	
	    	}
	    }

	    
	}
}


.small-nav > div{
    background-color: rgb(109, 101, 203) !important;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.exposed-nav{
	transition:1s all;
	transform:translate3d(0,0,0);
}

.unexposed-nav{
	transition:1s all;
	transform:translate3d(0,-120px,0);
}

.link{
	color: rgb(109, 101, 203) !important;
	font-weight: 800;

	a:active, a:hover, a:focus, a:visited{
		color: rgb(109, 101, 203) !important;
		cursor:pointer;
	}
}

.contact-us{
	padding-bottom: 88px;

	@media only screen and (min-width: 1401px){
	    padding-bottom: 278px;
		}

		@media only screen and (max-width: 1400px) and (min-width: 769px){
		padding-bottom: 278px;
		}

		@media only screen and (max-width: 1024px) and (min-width: 769px){
		padding-bottom: 249px;

		}

		@media only screen and (max-width: 768px) and (min-width: 576px){
		padding-bottom: 549px;
		}

	    @media only screen and (max-width: 575px) and (min-device-width: 350px){
		padding-bottom: 88px;
		}
		
	    
}

